#header {
    background-image: linear-gradient(97deg,#ff7a6e,#ff9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1), 0 6px 6px 0 rgba(0,0,0,.2);
    height: 60px;
    min-width: 1200px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-child {
    height: 100%;
    width: 80%;
    min-width: 1000px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
}

.header-left {
    width: 20%;
    display: flex;
    align-items: center;
}

.header-title {
    font-weight: 700;
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

.header-left > img {
    height: 27px;
    margin-right: 20px;
    cursor: pointer;
}

.search {
    position: relative;
    top: 3px;
}

.header-center {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-center > span {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.header-right {
    width: 20%;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    font-weight: 400;
    color: white;
    font-size: 17px;
}

