.search-top {
    height: 75px;
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-child {
    width: 400px;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.search-input {
    margin-left: 20px;
}

.search-buttons {
    display: flex;
}

.wide-button {
    width: 150px;
}