.profile-container {
    height: 150px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  }

.profile-view {
  width: 821px;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
}

.update-cancel-container {
  display: flex;
  align-items: center;
}
  
.dashboard-view {
  display: grid;
  grid-template-columns: 150px 171px;
  width: 321px;
}

.update-cancel-subcontainer {
  margin-left: auto;
}

.edit-update-button {
  height: 35px;
  border-radius: 1px;
  cursor: pointer;
  width: 100px;
  font-size: 14px;
  margin-right: 20px;
}

.edit-update-button:nth-child(1){
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  color: #fff;
  border: none;
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
}

.edit-update-button:nth-child(2){
  background-image: radial-gradient(circle at 50% 0,#fff,#f1eceb);
  border: 1px solid #ccc3c3;

}

body {
  background-color: #f2f2f2;
}
  
.user-left {
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.profilepic {
  border: 3px solid #ff9770;
  height: 86%;
  width: 86%;
}
  
.user-right {
  height: 100%;
  width: 171px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}
  
h2 {
  width: 83%;
  font-weight: 700;
  display: block;
  margin: 4px;
  font-size: 24px;
  margin-right: 15px;
}
  
  .edit-button {
    height: 35px;
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% 0,#fff,#f1eceb);
    border: 1px solid #ccc3c3;
    cursor: pointer;
    font-weight: 400;
    width: 150px;
    font-size: 16px;
  }

  .edit-button-container {
      margin-top: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-right: 10px;
  }

  .welcome {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    width: 500px;
    height: 150px;
    display: flex;
    margin-left: 20px;
    box-sizing: border-box;
    padding: 15px;
  }

  .content {
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .top-section {
      display: flex;
      justify-content: center;
  }

  .bottom-section {
    display: none;
  }